<style type="text/css">
	table.tableizer-table {
	border: 1px solid #BFCCDB; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #BFCCDB;
	color: #BFCCDB;
}
.tableizer-table th {
	background-color: #374575; 
	color: #FFF;
	font-weight: bold;
}
.fingerpointer{
	cursor: pointer;
}
</style><table class="tableizer-table sortable">
<tr class="tableizer-firstrow fingerpointer"><th>&nbsp;&nbsp;Book</th><th>&nbsp;&nbsp;Author</th><th>&nbsp;&nbsp;Date Read</th><th>Rating* <br>(1-5)</th><th>&nbsp;&nbsp;Comments</th></tr>
 <tr><td>Sphere</td><td>Michael Crichton</td><td sorttable_customkey="-13">Oct - November 2015</td><td></td><td>Currently Reading</td></tr>
 <tr><td>Sourcery</td><td>Terry Pratchett</td><td sorttable_customkey="-12">October 2015</td><td>4</td><td>Discworld #5</td></tr>
 <tr><td>Words of Radiance</td><td>Brandon Sanderson</td><td sorttable_customkey="-11">October 2015</td><td>5</td><td>The Stormlight Archive #2</td></tr>
 <tr><td>Mort</td><td>Terry Pratchett</td><td sorttable_customkey="-10">Sep - October 2015</td><td>5</td><td>Discworld #4</td></tr>
 <tr><td>The Way of Kings</td><td>Brandon Sanderson</td><td sorttable_customkey="-9">September 2015</td><td>5</td><td>The Stormlight Archive #1</td></tr>
 <tr><td>Equal Rites</td><td>Terry Pratchett</td><td sorttable_customkey="-8">September 2015</td><td>4</td><td>Discworld #3</td></tr>
 <tr><td>The Light Fantastic</td><td>Terry Pratchett</td><td sorttable_customkey="-7">August 2015</td><td>4.5</td><td>Discworld #2</td></tr>
 <tr><td>The Man Who Mistook His Wife for a Hat</td><td>Oliver Sacks</td><td sorttable_customkey="-6">Fall 2014, Aug 2015</td><td>4</td><td>read parts of for cognitive psych class, finished later</td></tr>
 <tr><td>The Color of Magic</td><td>Terry Pratchett</td><td sorttable_customkey="-5">July - August 2015</td><td>5</td><td>Discworld #1</td></tr>
 <tr><td>The Silmarillion</td><td>J.R.R. Tolkien</td><td sorttable_customkey="-4">June - July 2015</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Breakfast of Champions</td><td>Kurt Vonnegut</td><td sorttable_customkey="-3">June 2015</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>A Midsummer Night's Dream</td><td>William Shakespeare</td><td sorttable_customkey="-2">June 2015</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Brave New World</td><td>Aldous Huxley</td><td sorttable_customkey="-1">May - June 2015</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Handmaid's Tale</td><td>Margaret Atwood</td><td sorttable_customkey="0">April 2015</td><td>4.5</td><td>&nbsp;</td></tr>
 <tr><td>The Memoirs of Sherlock Holmes</td><td>Arthur Conan Doyle</td><td sorttable_customkey="1">Feb 2014, April 2015</td><td>4.5</td><td>did not read all at once</td></tr>
 <tr><td>Harry Potter and the Methods of Rationality</td><td>Eliezer Yudkowsky</td><td sorttable_customkey="2">Jan - March 2015</td><td>5</td><td>Fantastic fanfiction, highly recommend</td></tr>
 <tr><td>Cat's Cradle</td><td>Kurt Vonnegut</td><td sorttable_customkey="3">Dec 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Surprised by Joy</td><td>C.S. Lewis</td><td sorttable_customkey="5">Fall 2014</td><td>4.5</td><td>partial autobiography</td></tr>
 <tr><td>Hitchhiker's Guide to the Galaxy</td><td>Douglas Adams</td><td sorttable_customkey="6">Summer 2014</td><td>5</td><td>listened to radio show - didn't  actually read the books</td></tr>
 
 <tr><td>Oryx and Crake</td><td>Margaret Atwood</td><td sorttable_customkey="7">Spring 2014</td><td>4</td><td>&nbsp;</td></tr>
 
 <tr><td>Unstuck</td><td>Cole, Arnie</td><td sorttable_customkey="8">Feb - April 2014</td><td>~2</td><td></td></tr>
 <tr><td>The Hound of the Baskervilles</td><td>Arthur Conan Doyle</td><td sorttable_customkey="9">Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Adventures of Sherlock Holmes</td><td>Arthur Conan Doyle</td><td sorttable_customkey="10">Jan - Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Sign of Four</td><td>Arthur Conan Doyle</td><td sorttable_customkey="11">Jan - Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>A Study in Scarlet</td><td>Arthur Conan Doyle</td><td sorttable_customkey="12">Jan 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Bad Christian, Great Savior</td><td>Matt Carter</td><td sorttable_customkey="13">Jan 2014</td><td>4.5</td><td>written by guys from one of my favorite bands, Emery</td></tr>
 <tr><td>Don't Waste Your Life</td><td>John Piper</td><td sorttable_customkey="14">Winter 2013</td><td>~2.5</td><td>&nbsp;</td></tr>
 <tr><td>Man's Search for Meaning</td><td>Viktor Frankl</td><td sorttable_customkey="15">Fall 2013</td><td>4</td><td>for my psych 101 class</td></tr>
 <tr><td>Connecting</td><td>Larry Crab</td><td sorttable_customkey="16">Sep - Oct 2013</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>Jesus is ____</td><td>Judah Smith</td><td sorttable_customkey="17">Aug - Sep 2013</td><td>~4</td><td>&nbsp;</td></tr>
 
 <tr><td>The Ragamuffin Gospel</td><td>Brennan Manning</td><td sorttable_customkey="18">Summer 2013</td><td>~4</td><td>&nbsp;</td></tr>
 
 <tr><td>Forgotten God</td><td>Francis Chan</td><td sorttable_customkey="19">Summer 2013</td><td>~3</td><td>&nbsp;</td></tr>
 <tr><td>Perelandra</td><td>C.S. Lewis</td><td sorttable_customkey="20">Spring - Summer 2013</td><td>4</td><td>&nbsp;</td></tr>
 
 <tr><td>The Wheel of Time (entire series)</td><td>Robert Jordan</td><td sorttable_customkey="21">2007 - 2013</td><td>5</td><td>started as freshman in high schol, finished after sophomore in college</td></tr>
 <tr><td>Out of the silent planet</td><td>C.S. Lewis</td><td sorttable_customkey="22">2013</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Saturday Nothing</td><td>Josh Martin</td><td sorttable_customkey="23">Spring 2013</td><td>~3</td><td>my worship pastor at the time wrote it</td></tr>
 
 <tr><td>Radical</td><td>David Platt</td><td sorttable_customkey="24">Spring 2013</td><td>~2</td><td>&nbsp;</td></tr>
 <tr><td>Mere Christianity</td><td>C.S. Lewis</td><td sorttable_customkey="25">Winter 2012</td><td>~3.5</td><td>&nbsp;</td></tr>
 
 <tr><td>The Adventures of Tom Sawyer</td><td>Mark Twain</td><td sorttable_customkey="26">Summer 2012</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>The Hunger Games</td><td>Suzanne Collins</td><td sorttable_customkey="27">Spring 2012</td><td>3.75</td><td>&nbsp;</td></tr>
 <tr><td>The Problem of Pain</td><td>C.S. Lewis</td><td sorttable_customkey="28">April 2012</td><td>~3.5</td><td>A friend passed away while I was reading this book</td></tr>
 <tr><td>A Grief Observed</td><td>C.S. Lewis</td><td sorttable_customkey="29">Winter - Spring 2012</td><td>5</td><td>recounting his wife's death</td></tr>
 <tr><td>The Great Divorce</td><td>C.S. Lewis</td><td sorttable_customkey="30">Winter 2012</td><td>~3.75</td><td>&nbsp;</td></tr>
 
 <tr><td>The Screwtape Letters</td><td>C.S. Lewis</td><td sorttable_customkey="31">Winter 2011-2012</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>Catch 22</td><td>Joseph Heller</td><td sorttable_customkey="32">Winter 2011-2012</td><td>5</td><td>&nbsp;</td></tr>
 
 <tr><td>The Cellist of Sarajevo</td><td>Steven Galloway</td><td sorttable_customkey="33">Winter 2011</td><td>3.5</td><td>read for freshman core class</td></tr>
 <tr><td>The Road</td><td>Cormac McCarthy</td><td sorttable_customkey="34">Fall 2011</td><td>3</td><td>read for freshman core class</td></tr>
 <tr><td>Copenhagen</td><td>Michael Frayn</td><td sorttable_customkey="35">Fall 2011</td><td>3.5</td><td>read for freshman core class</td></tr>
 <tr><td>The Photographer</td><td>Emmanuel Guibert</td><td sorttable_customkey="36">Fall 2011</td><td>3.5</td><td>interesting non-fiction graphic novel, read for freshman core class</td></tr>
 <tr><td>The Red Pony</td><td>John Steinbeck</td><td sorttable_customkey="37">Summer 2011</td><td>3.75</td><td>&nbsp;</td></tr>
 <tr><td>Slaughterhouse-Five</td><td>Kurt Vonnegut</td><td sorttable_customkey="38">Spring 2011</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Nineteen-Eighty four</td><td>George Orwell</td><td sorttable_customkey="39">Spring 2011</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Animal Farm</td><td>George Orwell</td><td sorttable_customkey="40">Spring 2011</td><td>4</td><td>read for senior english class</td></tr>
 <tr><td>Of Mice and Men</td><td>John Steinbeck</td><td sorttable_customkey="41">Spring 2010</td><td>4.5</td><td>read for junior english class</td></tr>
 <tr><td>Huckleberry Finn</td><td>Mark Twain</td><td sorttable_customkey="42">Spring 2010</td><td>5</td><td>read for junior english class</td></tr>
 <tr><td> (unfinished) The Hiding Place</td><td>Corrie ten Boom</td><td sorttable_customkey="43">Spring 2010</td><td>-</td><td>read for junior U.S. history class</td></tr>
 
 <tr><td>Shane</td><td>Jack Schaefer</td><td sorttable_customkey="43.5">Spring 2009</td><td>3.5!</td><td>read for sophomore english class</td></tr>
 <tr><td>Julius Caesar</td><td>William Shakespeare</td>			<td sorttable_customkey="44">Spring 2009</td><td>4.5</td><td>read for sophomore english class</td></tr>
 <tr><td>Cry, the Beloved Country</td><td>Alan Paton</td>		<td sorttable_customkey="45">Spring 2009</td><td>3.75</td><td>read for sophomore english class</td></tr>
 <tr><td>The Red Badge of Courage</td><td>Stephen Crane</td>	<td sorttable_customkey="46">Winter 2009</td><td>3   </td><td>read for sophomore english class</td></tr>
 
 <tr><td>The Ballad of the Sad Café</td><td>Carson McCullers</td><td sorttable_customkey="47">Winter 2008</td><td>2.5 </td><td>read for sophomore english class</td></tr>
 <tr><td>Their Eyes Were Watching God</td><td>Zora Neale Hurston</td><td sorttable_customkey="48">Winter 2008-2009</td><td>3</td><td>read for sophomore english class</td></tr>
 <tr><td>Romeo and Juliet</td><td>William Shakespeare</td><td sorttable_customkey="49">Spring 2008</td><td>4.5</td><td>read for freshman english class</td></tr>
 <tr><td>The Pearl</td><td>John Steinbeck</td><td sorttable_customkey="50">Early 2008</td><td>3</td><td>read for freshman english class</td></tr>
 <tr><td>Flowers for Algernon</td><td>Daniel Keyes</td><td sorttable_customkey="51">Fall - Winter 2007</td><td>3!</td><td>might like it more now than I did at the time</td></tr>
 <tr><td>Lord of the Rings (all, second time) </td><td>J.R.R Tolkien</td><td sorttable_customkey="52">Fall 2007</td><td>5</td><td>my second time through</td></tr>
 <tr><td>The Long Dark Tea-Time of the Soul</td><td>Douglas Adams</td><td sorttable_customkey="52.5">Summer 2007?</td><td>4!</td><td></td></tr>
 <tr><td>Harry Potter (entire series)</td><td>J.K. Rowling</td><td sorttable_customkey="53">2003 - 2007</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>The Hobbit</td><td>J.R.R Tolkien</td><td sorttable_customkey="54">Summer 2007?</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Timeline</td><td>Michael Crichton </td><td sorttable_customkey="55">2005</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Jurassic Park</td><td>Michael Crichton </td><td sorttable_customkey="56">2006</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Brian's Winter</td><td>Gary Paulsen</td><td sorttable_customkey="56.4">Middle School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Hatchet</td><td>Gary Paulsen</td><td sorttable_customkey="56.5">Middle School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Redwall Series (many, but not all)</td><td>Brian Jacques</td><td sorttable_customkey="57">Elementary to Middle School</td><td>4.5</td><td>&nbsp;</td></tr>
 <tr><td>The Outsiders </td><td>S.E. Hinton</td><td sorttable_customkey="58">Spring 2006</td><td>2.5</td><td>read for 7th grade class</td></tr>
 <tr><td>The Chronicles of Narnia (entire series)</td><td>C.S. Lewis</td><td sorttable_customkey="59">2004 - 2006</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>A Series of Unfortunate Events (all except the last few)</td><td>Lemony Snicket</td><td sorttable_customkey="60">2004-2005</td><td>4!</td><td>&nbsp;</td></tr>
 <tr><td>Jaguar</td><td>Roland Smith</td><td sorttable_customkey="61">6th grade</td><td>-</td><td>read for 6th grade class</td></tr>
 <tr><td>Walk 2 Moons</td><td>Sharon Creech</td><td sorttable_customkey="62">6th grade</td><td>2.5!</td><td>read for 6th grade class</td></tr>
 <tr><td>The House of the Scorpion</td><td>Nancy Farmer</td><td sorttable_customkey="63">6th grade</td><td>2!</td><td>read to us in 6th grade class</td></tr>
 <tr><td>Eragon</td><td>Christopher Paolini</td><td sorttable_customkey="64">Spring 2005</td><td>3.5!</td><td>read to us in 6th grade class</td></tr>
 <tr><td>Hank the Cowdog (many, but not all)</td><td>John R. Erickson</td><td sorttable_customkey="65">Elementary School</td><td>4.5!</td><td></td></tr>
 <tr><td>Hardy Boys (many, but not all)</td><td>Franklin W. Dixon</td><td sorttable_customkey="66">Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Lord of the Rings (whole series, first time)</td><td>J.R.R Tolkien</td><td sorttable_customkey="67">2001-2003</td><td>5</td><td>my dad read most of the series aloud to me</td></tr>
 <tr><td>Matilda</td><td>Roal Dahl</td><td sorttable_customkey="68">Elementary School</td><td>4.5!</td><td>&nbsp;</td></tr>
 <tr><td>Boy</td><td>Roald Dahl</td><td sorttable_customkey="69">4th grade</td><td>-</td><td>&nbsp;</td></tr>
 <tr><td>James and the Giant Peach</td><td>Roal Dahl</td><td sorttable_customkey="70">Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Charlie and the chocolate factory</td><td>Roald Dahl</td><td sorttable_customkey="71">Elementary School</td><td>4.5!</td><td>&nbsp;</td></tr>
 <tr><td>The BFG</td><td>Roald Dahl</td><td sorttable_customkey="72">Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Encyclopedia Brown</td><td>Donald J. Sobol</td><td sorttable_customkey="72.5">Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Stuart Little</td><td>E.B. White</td><td sorttable_customkey="73">3rd grade</td><td>4.5!</td><td></td></tr>
</table>
