<style type="text/css">
	table.tableizer-table {
	border: 1px solid #BFCCDB; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #BFCCDB;
	color: #BFCCDB;
}
.tableizer-table th {
	background-color: #374575; 
	color: #FFF;
	font-weight: bold;
}

</style><table class="tableizer-table">
<tr class="tableizer-firstrow"><th>Book</th><th>Author</th><th>Date Read (approximate)</th><th>Rating* (1-5)</th><th>Comments</th></tr>
 <tr><td>The Memoirs of Sherlock Holmes (Currently Reading)</td><td>Arthur Conan Doyle</td><td>Feb 2014 - April 2015</td><td>4.5</td><td>&nbsp;</td></tr>
 <tr><td>Harry Potter and the Methods of Rationality</td><td>Eliezer Yudkowsky</td><td>Jan - March 2015</td><td>5</td><td>Fantastic fanfiction, highly recommend</td></tr>
 <tr><td>Cat's Cradle</td><td>Kurt Vonnegut</td><td>Dec 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>(unfinished) The Man Who Mistook His Wife for a Hat</td><td>Oliver Sacks</td><td>Fall - Winter 2014</td><td>4</td><td>read parts of for cognitive psych class</td></tr>
 <tr><td>Surprised by Joy</td><td>C.S. Lewis</td><td>Fall 2014</td><td>4.5</td><td>partial autobiography</td></tr>
 <tr><td>Hitchhiker's Guide to the Galaxy</td><td>Douglas Adams</td><td>Summer 2014</td><td>5</td><td>radio show - not actually book</td></tr>
 <tr><td>Oryx and Crake</td><td>Margaret Atwood</td><td>Spring 2014</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Unstuck</td><td>Cole, Arnie</td><td>Feb - April 2014</td><td>~2</td><td></td></tr>
 <tr><td>The Hound of the Baskervilles</td><td>Arthur Conan Doyle</td><td>Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Adventure of Sherlock Holmes</td><td>Arthur Conan Doyle</td><td>Jan - Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Sign of Four</td><td>Arthur Conan Doyle</td><td>Jan - Feb 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>A Study in Scarlet</td><td>Arthur Conan Doyle</td><td>Jan 2014</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Bad Christian, Great Savior</td><td>Matt Carter</td><td>Jan 2014</td><td>4.5</td><td>written by guys from one of my favorite bands - Emery</td></tr>
 <tr><td>Don't Waste Your Life</td><td>John Piper</td><td>Winter 2013</td><td>~2.5</td><td>&nbsp;</td></tr>
 <tr><td>Man's Search for Meaning</td><td>Viktor Frankl</td><td>Fall 2013</td><td>4</td><td>for my psych 101 class</td></tr>
 <tr><td>Connecting</td><td>Larry Crab</td><td>Sep - Oct 2013</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>Jesus is ____</td><td>Judah Smith</td><td>Aug - Sep 2013</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>The Ragamuffin Gospel</td><td>Brennan Manning</td><td>Summer 2013</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>Forgotten God</td><td>Francis Chan</td><td>Summer 2013</td><td>~3</td><td>&nbsp;</td></tr>
 <tr><td>Perelandra</td><td>C.S. Lewis</td><td>Spring - Summer 2013</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>The Wheel of Time (entire series)</td><td>Robert Jordan</td><td>2007 - 2013</td><td>5</td><td>started as freshman in high schol, finished after sophomore in college</td></tr>
 <tr><td>Out of the silent planet</td><td>C.S. Lewis</td><td>2013</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Saturday Nothing</td><td>Josh Martin</td><td>Spring 2013</td><td>~3</td><td>my worship pastor at the time wrote it</td></tr>
 <tr><td>Radical</td><td>David Platt</td><td>Spring 2013</td><td>~2</td><td>&nbsp;</td></tr>
 <tr><td>Mere Christianity</td><td>C.S. Lewis</td><td>Winter 2012</td><td>~3.5</td><td>&nbsp;</td></tr>
 <tr><td>The Adventures of Tom Sawyer</td><td>Mark Twain</td><td>Summer 2012</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>The Hunger Games</td><td>Suzanne Collins</td><td>Spring 2012</td><td>3.75</td><td>&nbsp;</td></tr>
 <tr><td>The Problem of Pain</td><td>C.S. Lewis</td><td>April 2012</td><td>~3.5</td><td>A friend passed away while I was reading this book</td></tr>
 <tr><td>A Grief Observed</td><td>C.S. Lewis</td><td>Winter 2012</td><td>5</td><td>recounting his wife's death</td></tr>
 <tr><td>The Screwtape Letters</td><td>C.S. Lewis</td><td>Winter 2011-2012</td><td>~4</td><td>&nbsp;</td></tr>
 <tr><td>Catch 22</td><td>Joseph Heller</td><td>Winter 2011-2012</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>The Cellist of Sarajevo</td><td>Steven Galloway</td><td>Winter 2011</td><td>3.5</td><td>read for freshman core class</td></tr>
 <tr><td>The Road</td><td>Cormac McCarthy</td><td>Fall 2011</td><td>3</td><td>read for freshman core class</td></tr>
 <tr><td>Copenhagen</td><td>Michael Frayn</td><td>Fall 2011</td><td>3.5</td><td>read for freshman core class</td></tr>
 <tr><td>The Photographer</td><td>Emmanuel Guibert</td><td>Fall 2011</td><td>3.5</td><td>interesting non-fiction graphic novel, read for freshman core class</td></tr>
 <tr><td>The Red Pony</td><td>John Steinbeck</td><td>Summer 2011</td><td>3.75</td><td>&nbsp;</td></tr>
 <tr><td>Slaughterhouse-Five</td><td>Kurt Vonnegut</td><td>Spring 2011</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Nineteen-Eighty four</td><td>George Orwell</td><td>Spring 2011</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Animal Farm</td><td>George Orwell</td><td>Spring 2011</td><td>4</td><td>read for senior english class</td></tr>
 <tr><td>Of Mice and Men</td><td>John Steinbeck</td><td>Spring 2010</td><td>4.5</td><td>read for junior english class</td></tr>
 <tr><td>Huckleberry Finn</td><td>Mark Twain</td><td>Spring 2010</td><td>5</td><td>read for junior english class</td></tr>
 <tr><td> (unfinished) The Hiding Place</td><td>Corrie ten Boom</td><td>Spring 2010</td><td>-</td><td>read for junior U.S. history class</td></tr>
 <tr><td>Julius Caesar</td><td>William Shakespeare</td><td>Spring 2009</td><td>4.5</td><td>read for sophomore english class</td></tr>
 <tr><td>Cry, the Beloved Country</td><td>Alan Paton</td><td>Spring 2009</td><td>3.75</td><td>read for sophomore english class</td></tr>
 <tr><td>The Red Badge of Courage</td><td>Stephen Crane</td><td>Winter 2009</td><td>3</td><td>read for sophomore english class</td></tr>
 <tr><td>Book about horribly deformed dwarf who likes woman trapped in house</td><td>?</td><td>Winter 2008</td><td>2.5</td><td>read for sophomore english class</td></tr>
 <tr><td>Their Eyes Were Watching God</td><td>Zora Neale Hurston</td><td>Winter 2008-2009</td><td>3</td><td>read for sophomore english class</td></tr>
 <tr><td>Romeo and Juliet</td><td>William Shakespeare</td><td>Spring 2008</td><td>4.5</td><td>read for freshman english class</td></tr>
 <tr><td>The Pearl</td><td>John Steinbeck</td><td>Early 2008</td><td>3</td><td>read for freshman english class</td></tr>
 <tr><td>Flowers for Algernon</td><td>Daniel Keyes</td><td>Fall - Winter 2007</td><td>3!</td><td>might like it more now than I did at the time</td></tr>
 <tr><td>Lord of the Rings (all, second time) </td><td>J.R.R Tolkien</td><td>Fall 2007</td><td>5</td><td>my second time through</td></tr>
 <tr><td>Harry Potter (entire series)</td><td>J.K. Rowling</td><td>2003 - 2007</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>The Hobbit</td><td>J.R.R Tolkien</td><td>Summer 2007?</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>Timeline</td><td>Michael Crichton </td><td>7th grade? (2005-06)</td><td>4.5</td><td>&nbsp;</td></tr>
 <tr><td>Jurassic Park</td><td>Michael Crichton </td><td>7th grade? (2005-06)</td><td>4</td><td>&nbsp;</td></tr>
 <tr><td>Redwall Series (many, but not all)</td><td>Brian Jacques</td><td>Elementary to Middle School</td><td>4.5</td><td>&nbsp;</td></tr>
 <tr><td>The Outsiders </td><td>S.E. Hinton</td><td>Spring 2006</td><td>2.5</td><td>read for 7th grade class</td></tr>
 <tr><td>The Chronicles of Narnia (entire series)</td><td>C.S. Lewis</td><td>2004 - 2006</td><td>5</td><td>&nbsp;</td></tr>
 <tr><td>A Series of Unfortunate Events (all except the last few)</td><td>Lemony Snicket</td><td>2004-2005</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Jaguar</td><td>Roland Smith</td><td>6th grade</td><td>-</td><td>read for 6th grade class</td></tr>
 <tr><td>Walk 2 Moons</td><td>Sharon Creech</td><td>6th grade</td><td>2.5!</td><td>read for 6th grade class</td></tr>
 <tr><td>The House of the Scorpion</td><td>Nancy Farmer</td><td>6th grade</td><td>2!</td><td>read to us in 6th grade class</td></tr>
 <tr><td>Eragon</td><td>Christopher Paolini</td><td>Spring 2005</td><td>3.5!</td><td>read to us in 6th grade class</td></tr>
 <tr><td>Hardy Boys (many but not all)</td><td>Franklin W. Dixon</td><td>Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Lord of the Rings (whole series, first time)</td><td>J.R.R Tolkien</td><td>2001-2003</td><td>5</td><td>my dad read most of the series aloud to me</td></tr>
 <tr><td>Matilda</td><td>Roal Dahl</td><td>Elementary School</td><td>4.5!</td><td>&nbsp;</td></tr>
 <tr><td>Boy</td><td>Roald Dahl</td><td>4th grade</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>James and the Giant Peach</td><td>Roal Dahl</td><td>Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Charlie and the chocolate factory</td><td>Roald Dahl</td><td>Elementary School</td><td>4.5!</td><td>&nbsp;</td></tr>
 <tr><td>The BFG</td><td>Roald Dahl</td><td>Elementary School</td><td>5!</td><td>&nbsp;</td></tr>
 <tr><td>Stuart Little</td><td>E.B. White</td><td>3rd grade</td><td>4.5!</td><td></td></tr>
</table>
