		</div>
	</div>
	<footer class="footer">
		<nav class="foot-nav hide-on-mobiles">
			<ul class="list-inline">
				<li>	
					<a href="https://twitter.com/jeffrey_solo">twitter:</br>@Jeffrey_solo</a>
				</li>
				<li>		
					<a href="https://github.com/JeffSolo">github:</br>jeffsolo</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/jeffsolo">linkedin:</br>Jeff</a>
				</li>
		</nav>
		
		<nav class="mobile-foot-nav show-on-mobiles">
				<div class="center-on-mobiles">
					<a href="https://twitter.com/jeffrey_solo">twitter: @Jeffrey_solo</a>
				</div>
				<div class="center-on-mobiles">
					<a href="https://github.com/JeffSolo">github: jeffsolo</a>
				</div>
				<div class="center-on-mobiles">
					<a href="https://www.linkedin.com/in/jeffsolo">linkedin: Jeff</a>
				</div>
		</nav>
	</footer>
	
  </body>
  
</html>