    </div>
    </div>
    <footer class="footer">
        <nav class="foot-nav">
          <ul class="list-inline mobile-stack">
            <li>
              <a href="https://twitter.com/jeffcsolo">twitter: </br>@jeffcsolo</a>
            </li>
            <li>
              <a href="https://github.com/JeffSolo">github: </br>JeffSolo</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/jeffsolo">linkedin: </br>Jeff</a>
            </li>
          </ul>
        </nav>

    </footer>

  </body>

</html>
