		</div>
	</div>
	<footer class="footer">
		<!--<h1 class="center" id="modifiedOn">Last modified: </h1>-->
		
		<nav class="foot-nav hide-on-mobiles">
			<ul class="list-inline">
				<li>	
					<a href="https://twitter.com/jeffcsolo">twitter:</br>@jeffcsolo</a>
				</li>
				<li>		
					<a href="https://github.com/JeffSolo">github:</br>JeffSolo</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/jeffsolo">linkedin:</br>Jeff</a>
				</li>
		</nav>
		
		<nav class="mobile-foot-nav show-on-mobiles">
				<div class="center-on-mobiles">
					<a href="https://twitter.com/jeffrey_solo">twitter: @Jeffrey_Solo</a>
				</div>
				<div class="center-on-mobiles">
					<a href="https://github.com/JeffSolo">github: JeffSolo</a>
				</div>
				<div class="center-on-mobiles">
					<a href="https://www.linkedin.com/in/jeffsolo">linkedin: Jeff</a>
				</div>
		</nav>
	</footer>
	
  </body>
  
</html>