<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.shorttitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/assets/css/normalize.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/gridism.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/style_mobile.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="site">
          <header class="unit whole">
            <div class="grid">
              <div class="unit one-third center-on-mobiles">
                <h1 class="title"><a href="/" class="name" title="Home">Jeffrey C. Solomon</a></h1>
              </div>
              <nav class="header-nav unit two-thirds center-on-mobiles">
                <ul class="list-inline top">
                  <li>
                    <a href="/work/" title="Work Experience">Work</a>
                  </li>
                  <li>
                    <a href="/blog/" title="Musings">Blog</a>
                  </li>
                  <li>
                    <a href="/bio/" title="Biology...err, Biography">Bio</a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
      </div>
    </div>

    <div class="wrap">
      <div class="container main">
