@media screen and (max-width: 568px) {
  :root {
    --header-height: 4em;
  }
  .show-on-mobiles{
    display: block;
  }

  header{
    height: var(--header-height);
  }

  header > .grid li{
    position: relative;
    overflow: visible;
    font-size: 1em;
    margin: 1% 2% 1% 2%;
  }

  .title{
    font-size: 1.25em;
    margin: 1% 1% 1% 1%;
  }

  footer{
    height: 5em;
    font-size: .75em;
  }

  .main{
    font-size: 85%;
    padding-top: var(--header-height);
  }

  .mainpic{
    float: none;
    text-align: center;
    max-width: 8em;
    margin-top: 5%;
  }

  .hide-mobile-breaks br{
    content:' ';
  }

  .biopic {
    max-width: 15em;
    height: auto;
    margin-right: 5%;
    border-radius: 5%;
  }

  .mobile-stack li{
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .mobile-stack br{
    display: none;
  }

  .header-nav li{
    margin: 1% 1% 1% 1%;
  }
}
