@media screen and (max-width: 568px) {
  .show-on-mobiles{
    display: block;
  }

  header {
    position: absolute;
    height: 3em;
    overflow: visible;
    display: inline-block;
  }

  header > .mobile-nav li{
    margin-top: .1em;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
  }

  footer{
    height: 5em;
  }

  .title-sub-text{
    color: #375575;
    margin-left: 2em;
  }

  .main{
    padding: 5% 5% 5% 5%;
    font-size: 85%;
  }

  .mainpic{
    float: none;
    text-align: center;
    max-width: 50%;
  }

  .biopic {
    max-width: 75%;
    height: auto;
    margin-right: 5%;
    border-radius: 5%;
  }
}