:root{
  --main-bg-color: #FFE2D8;
  --main-text-color: #8EA0A7;
  --main-link-color: #B7C2C7;
  --main-link-hover-color: #94AADB;
  --title-text-color: #AF9D81;
  --header-bg-color: #375575;
  --header-link-color: #BFCCDB;
  --header-link-hover-color: #94AADB;
  --footer-bg-color: var(--header-bg-color);
  --footer-link-color: var(--header-link-color);
  --footer-link-hover-color: var(--header-link-hover-color);
  --table-link-color: var(--header-link-color);
  --table-link-hover-color: var(--header-link-hover-color);
  --header-height: 3em;
  --footer-height: 5em;
  --nav-bg-color: #375575;
  --nav-link-color: #BFCCDB;
  --nav-link-hover-color: #94AADB;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: var(--main-text-color);
  width: 100%;
  margin-bottom: var(--footer-height);
  font-size: 1.25em;
}

body a, body a:focus, body a:active, body a:visited{
  text-decoration: none;
  color: var(--main-link-color);
}

body a:hover{
  text-decoration: none;
  color: var(--main-link-hover-color);
}

header a, header a:visited, header a:active,  header a:focus{
  text-decoration: none;
  color: var(--header-link-color);
}

header a:hover {
  text-decoration: none;
  color: var(--header-link-hover-color);
}

header {
  background: var(--header-bg-color);
  color: var(--header-bg-color);
  height: var(--header-height);
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background: var(--footer-bg-color);
}

footer a, footer a:visited, footer a:active,  footer a:focus {
  text-decoration: none;
  color: var(--footer-link-color);
}

footer a:hover{
  color:var(--footer-link-hover-color);
}

nav {
  z-index: 10;
}

tr {
  background-color: var(--main-text-color);
}

tr a, tr a:visited, tr a:active,  tr a:focus {
  text-decoration: none;
  color: var(--table-link-color);
}

tr a:hover {
  text-decoration: none;
  color: var(--table-link-hover-color);
}

.show-on-mobiles{
  padding-top: .5em;
  display: none;
}

.navbar-light {
  background: var(--nav-bg-color)!important;
}

.nav-item {
  z-index: 5!important;
}

.nav-link {
  color: var(--nav-link-color)!important;
}

.nav-link:hover {
  color: var(--nav-link-hover-color)!important;
}

.navbar-brand {
  font-family: 'Lora', serif;
}

.titlehead{
  color: var(--title-text-color);
  text-decoration: none;
}

.tabspace {
  margin-left: 3em;
}

.tableizer-table {
  border: 1px solid var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.tableizer-table th {
  padding: .5em .5em .5em .5em;
  background-color: var(--header-bg-color);
  border: 1px solid var(--main-bg-color);
  color: var(--main-link-color);
  font-weight: bold;
}

.tableizer-table td {
  padding: .5em .25em .5em .25em;
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.fingerpointer {
  cursor: pointer;
}
