.site{
	/*overflow: visible !important;*/
	min-height: 100%;
	position:relative;
}

html{
	position: relative;
	min-height: 100%;
}


body {
    background-color: #00151C;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
	color: #BA2E27;
	width: 100%;
	margin: 0 0 100px;
	padding: 0;
	
}

html, body {
	overflow-x: visible;
}

.content{
	margin-top: 7.5em;
	margin-bottom: 7em;
}

body a, body a:focus, body a:active, body a:visited{
	text-decoration: none;
	color: #BFCCDB;
}

body a:hover{
	text-decoration: none;
	color: #94AADB;
}

header a, header a:visited, header a:active,  header a:focus{
    text-decoration: none;
	color: #BFCCDB;
}

header a:hover {
	text-decoration: none;
	color: #94AADB;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	background: #375575;
	color: #00151C;
	height: 7.5em;
	box-shadow: 10em 0em 0em 0em #375575;
	width:100%
}

footer{
	position: absolute;
	bottom: 0px;
	left: 0;
	float:left;
	height: 6em;
	background: #375575;
	/*color: #751A00;*/
	box-shadow: 10em 10em 0 10em #375575;
	letter-spacing: .01em;
}

footer a, footer a:visited, footer a:active,  footer a:focus {
    text-decoration: none;
	color: #BFCCDB;
}

footer a:hover{
	color: #94AADB;
}

body > header, body > section, body > footer {
	float: left;
	width: 100%;
	clear: both;
	margin: 0px;
	margin-top: 50px;
}

.show-on-mobiles{
	padding-top: .5em;
	display: none;
}

header > .grid li{
	margin-top: 1em;
	margin-left: 7%;
	margin-right: 7%;
	font-size: 1.7em;
}

.foot-nav{
	text-align: center;
	font-size: 1.25em;
}

.foot-nav li {
	margin-top: 1em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.title-sub-text{
	text-align: right;
	margin-right: 5em;
	margin-top: -.75em;
}

.name {
	font-family: 'Lora', serif;
}

a.name, a.name:link, a.name:active, a.name:focus, a.name:visited{
	color: #BFCCDB;
}

a.name:hover{
	color: #94AADB;
}

.titlehead{
	color: #EA241A;
}


.mainpic {
	margin-top: 1em;
	max-width: 16.5em;
	max-height: 17em;
	height: 100%;
	width: 95%;
	border-radius: 5%;
	float: right;
}

@media screen and (max-width: 568px) {
	.show-on-mobiles{
		display: block;
	}
	/*
	footer a{
		color: #751A00;
	}
	*/
	header {
		position:absolute;
		height: 3em;
		overflow: visible;
		display: inline-block;
	}
	
	header > .mobile-nav li{
		margin-top: .1em;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 100%;
	}
	
	footer{
		height: 5em;
	}
	
	.title-sub-text{
		color: #375575;
		margin-left: 2em;
	}
	
	.mainpic{		
		float: none;
		text-align: center;
	}
}

/*
.grid:after{
	clear:both;
}*/
/*
colors
000E1C
374575
BFCCDB
94AADB
*/