---
layout: default
title: The Archive
shorttitle: Archive
permalink: /archive/
---
<div class="grid">
    <br>
    <p>
    Contained within is a selection of works written, created, and/or designed by yours truly.
    This curated selection consists mainly of school projects I've done over the years.
    It's not all good, but it is all mine. Enjoy.
    </p>
    <h3>Creative Writing</h3>
    {% for file in site.static_files %}
      {% if file.path contains 'archive/' %}
        <p> <a href="{{ file.path }}" target="_blank"> {{ file.basename | slice: 11, 100 | replace: '-', ' ' }} </a>
            -- {{file.basename | date: '%B %d, %Y' }} </p>
      {% endif %}
    {% endfor %}
</div>