---
layout: default
title: The Archive
shorttitle: Archive
permalink: /archive/
---
<div class="grid">
    <br>
    <p>
    Contained within is a selection of works written, created, and/or designed by yours truly.
    This curated selection consists mainly of school projects I've done over the years.
    It's not all good, but it is all mine. Enjoy.
    </p>
    <h3>Creative Writing</h3>
    {% for file in site.archive %}
        {% if file.tags contains "Creative Writing" %}
            <p><a href="{{ file.url }}">{{ file.title }}</a> {{ file.append }} -- {{ file.date | date: '%-d %B, %Y' }}</p>
        {% endif %}
    {% endfor %}

</div>
